:root{
    --active: #EF3D5E;
    --hover: #90192F;
    --primary: #D73648;
}

@font-face {
    font-family: 'EurostileExtendedBlack';
    src: url('../Fonts/EurostileExtended-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'EurostileExtendedBlack', sans-serif;
}
html, body{
    overflow-y: hidden;
}

.splash-screen {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.splash-screen-inner {
    background-color: var(--primary);
    min-height: 50%;
    max-height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 1rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.splash-screen-text {
    width: 75%;
    color: white;
    text-align: center;
}

.splash-screen-h1 {
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

.splash-screen-h2 {
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.splash-screen-center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-btn-disabled{
    pointer-events: none;
    background-color: #474747;
    color: rgb(140, 140, 140);
    border: none;
    padding: 0.5rem 0;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 1rem;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
}

.next-btn{
    pointer-events: initial;
    background: transparent linear-gradient(180deg, #EF3D5E 0%, #90192F 100%) 0% 0% no-repeat padding-box;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem 0;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 1rem;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
}

.next-btn:hover{
    background: transparent linear-gradient(180deg, #a52837 0%, #90192F 100%) 0% 0% no-repeat padding-box;
}

.next-btn-inner{
    pointer-events: initial;
    background: transparent;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem 0;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 1rem;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
}

.montserrat{
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

.montserrat-red{
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: #D73648;
}

.arachnid-background{
    /* background: transparent linear-gradient(180deg, #EF3D5E 0%, #90192F 100%) 0% 0% no-repeat padding-box; */
}

.scroll{
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
}

.header{
    background: transparent linear-gradient(180deg, #EF3D5E 0%, #90192F 100%) 0% 0% no-repeat padding-box;
    padding: 0;
}

.ui-container{
    height: calc(100%);
}

.ui-row{
    position: relative;
}

.layer-menus{
    background-color:white;
}

.edit-layer{
    padding: 0;
}

.viewport{
    background-color:azure;
    padding: 0;
    position: relative;
}

.tab-bar{
    padding: 0;
    margin: 0;
    position: relative;
}

.tab-btn{
    background-color: white;
    background-color: rgb(240, 240, 240);
    border: none;
    padding: 1rem 0;
    margin: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}

.tab-btn-inactive{
    background-color: rgb(128, 128, 128);
    border: none;
    padding: 1rem 0;
    margin: 0;
    color: white;
    pointer-events: none;
}

.tab-btn-inactive-light{
    background-color: rgb(145, 145, 145);
    border: none;
    padding: 1rem 0;
    margin: 0;
    color: white;
    pointer-events: none;
}

.tab-btn-active{
    background: transparent linear-gradient(180deg, #EF3D5E 0%, #90192F 100%) 0% 0% no-repeat padding-box;
    border: none;
    padding: 1rem 0;
    margin: 0;
    color: white;
}

.tab-btn:hover{
    background: transparent linear-gradient(180deg, #a52837 0%, #90192F 100%) 0% 0% no-repeat padding-box;;
    color: white;
}

.tab-btn-inactive-light:hover{
    background-color: rgb(145, 145, 145);
}

.tab-btn-inactive:hover{
    background-color: rgb(128, 128, 128);
}

.bottom-gap{
    margin-bottom: 0.4rem;
    position: relative;
}

.suggestion{
    background-color: white;
    border: none;
    color: #474747;
    padding: 0.5rem 1rem;
    /* box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%); */
    /*  */
    margin: 0;

}

.rental-item{
    background-color: white;
    border: none;
    padding: 0rem 1.5rem;
    padding-top: 0.25rem;
    /* box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%); */
    font-family: "Teko", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 20px;
    
    cursor: pointer;
}

.rental-item-inner{
    color:#474747;
    border: none;
    
}

.rental-item-inner > *{
    color:#474747;
    border: none;
    font-family: "Teko", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    list-style-type: none;
}

.rental-item-active{
    background-color: rgb(241, 241, 241);
}

.list-btn{
    /* background: transparent linear-gradient(180deg, #EF3D5E 0%, #90192F 100%) 0% 0% no-repeat padding-box; */
    background: white;
    border: none;
    color: rgb(145, 145, 145);
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    
}

.list-btn-icon{
    background-color: white;
    border: none;
    border-radius: 16px 0 0 16px;
    color: rgb(145, 145, 145);
    padding: 0;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
    overflow: hidden;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}

.product-name:hover{
    color: #474747;
}

.list-btn-inner{
    color: #474747;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}


.list-btn:hover{
    background: rgb(236, 236, 236);
}

.icon-cushion{
    background-color: white;
    width: 1rem;
}

.list-btn-icon:hover .icon-btn-red-space{
    background: transparent linear-gradient(180deg, var(--hover), var(--hover)) 0% 0% no-repeat padding-box;

}

.btn-wrapper > *{
    pointer-events: none;
}

.btn-icon-spaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 1.5rem;
}

.btn-active{
    background: transparent linear-gradient(180deg, var(--active), var(--active)) 0% 0% no-repeat padding-box;

    text-align: left;
    align-items:flex-start
}

.icon-btn-red-space{
    background: transparent linear-gradient(180deg, #EF3D5E 0%, #90192F 100%) 0% 0% no-repeat padding-box;
    text-align: left;
    align-items:flex-start;
}
ul{
    /* how the fuck to we center this? */
    padding: 0 0 0 0;
}
li{
    color: white;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}

.machine-icon-frame{
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 0;
}

.list-btn-title{
    color: white;
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}

.list-btn-bullets{
    margin-bottom: 0;
    padding: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    

}

.list-btn-bullets > li{
    color: white;
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
    list-style: none;
}

.new-layer{
    color:white;
    padding: 0;
}

.active-layer-tab{
    background-color: transparent linear-gradient(180deg, #EF3D5E 0%, #90192F 100%) 0% 0% no-repeat padding-box;;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 99.5%;
    width: 16px;
    border-radius: 16px 0px 0px 16px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.cluster-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -0.2rem -0.5rem 0.25rem -0.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}

.cluster-btn-container > *{
    background: transparent linear-gradient(180deg, #EF3D5E 0%, #90192F 100%) 0% 0% no-repeat padding-box;
    border: none;
    color: white;
    padding: 0.25rem 2rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    flex-grow: 1;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}

.cluster-btn{
    background: transparent linear-gradient(180deg, #EF3D5E 0%, #90192F 100%) 0% 0% no-repeat padding-box;
}
.cluster-btn > *{
    color: white;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
}

.cluster-btn:hover{
    background: none;
    background-color: #5e0f1e;
}

.cluster-btn-active{
    background: transparent linear-gradient(180deg, var(--active), var(--active)) 0% 0% no-repeat padding-box;
}

.cluster-btn-active > *{
    color: white;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
}

.product-tag{
    display: flex;
    flex-direction: column;
}

.product-info{
    color: white;
    pointer-events: all;
    width: 100%;
    text-align: end;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}

.info-pop{
    position: absolute;
    left: 1rem;
    color: #fff;
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 0.25rem;
    max-width: 20rem;
    z-index: 2;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}

.product-name{
    padding-top: 0.25rem;
    line-height: 1.25rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}
.product-number{
    font-size: 0.9rem;
    line-height: 0.8rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}

.menus-container{
    margin: 0;
    padding-bottom: 64px;
}

.mobile-button{
    display: none;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
    background-color: transparent;
  }

.menu-button{
    display: block;
    background-color: transparent;
    color: #fff;
    border-width: 0;
    border-radius: 0.25rem;
    padding: 2px 8px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
    background: transparent;
}

.redirect-links{
    background-color: transparent;
    border: none;
    padding: 1rem 1rem;
    margin: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 991px){
    .menu-button{
        display: none;
    }
}

@media only screen and (max-width: 991px){
    .redirect-links{
        display: none;
    }
}

.drop-select{
    border: none;
    background-color: transparent;
    color: white;
    margin: 0 0 0 2px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}

.drop-option{
    color: white;
    background-color: #D73648;
    border: none;
    border-radius: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
    padding: 0;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: #474747;
    height: 0.25rem;
    border-radius: 0.5rem;
  }
  
  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background: #474747;
    height: 0.25rem;
    border-radius: 0.5rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    border-radius: 0.5rem;
    background-color: #fff;
    height: 0.75rem;
    width: 0.75rem;  
 }

 input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem; /*Removes default border-radius that FF applies*/
    background-color: #fff;
    height: 0.75rem;
    width: 0.75rem;
}

.show-menu-right{
    display: block;
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 991px){
    .hide-menu{
        display: none;
        position: absolute;
    }
    .show-menu-right{
        display: block;
        position: absolute;
        right: 0;
    }

    .show-menu{
        display: block;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    .mobile-button{
        display: block;
        color: #fff;
        border-width: 0;
        border-radius: 0.25rem;
        padding: 2px 8px;
      }

    .mobile-button:hover{
        background-color: var(--hover);
    }

    .info-pop{
        position: absolute;
        right: 0rem;
        left: calc((100/12)*8%);
        margin: 0 0.5rem;
    }
}

@media only screen and (max-width: 576px){
   
    .info-pop{
        position: absolute;
        left: 50%; /* Adjusted to center horizontally */
        transform: translate(-50%, -50%); /* Center the element both vertically and horizontally */
        color: #fff;
        background-color: var(--primary);
        padding: 0.5rem;
        border-radius: 0.25rem;
        max-width: 20rem;
        z-index: 2;
        box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
        margin: 0 0.5rem; /* Add margin if necessary */
    }

    .mobile-button{
        color: #fff;
        border-width: 0;
        border-radius: 0.25rem;
        padding: 2px 8px;
      }

    .mobile-button:hover{
        background-color: var(--hover);
    }
}

/* copied from online
https://codesandbox.io/s/custom-dropdown-react-7oytw?file=/src/styles.css */

.dropdown {
    background-color: var(--primary);
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
  }
.dropdown-active {
    background-color: var(--active);
  }
  .dropdown,
  .dropdown * {
    z-index: 10;
    font-style: normal;
    font-variant: normal;
    font-weight: 500; /* 'medium' corresponds to 500 */
    font-size: 14px;
    line-height: 20px;
    font-family: 'EurostileExtendedBlack', sans-serif;
    
  }
  .dropdown .dropdown-btn {
    cursor: pointer;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    color: white;
    user-select: none;
    background: transparent;
  }
  .dropdown-active .dropdown-btn {
    cursor: pointer;
    background-color: var(--active);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    border: none;
    color: white;
    user-select: none;
  }
  .dropdown-content {
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    overflow: hidden;
  }
  .dropdown-content .item {
    padding: 10px;
    cursor: pointer;
    background: white;
    color: black;
  }
  .dropdown-content .item:hover {
    background: lightgrey;
  }
  .dropdown-active:hover .dropdown-btn{
    background-color: var(--hover);
  }
  /* .dropdown:hover .dropdown-btn{
    background-color: var(--hover);
  } */